// styles.scss
@use 'variables' as *;
@use 'atoms';  // assumes file is named _atoms.scss
@use 'molecules';
@use 'organisms' as o;  // can shorten the name if we like :)

body {
  margin: 0;
  overflow-x: hidden;
}

// .page-wrapper {
//   margin: 3rem;
// }


// nav bar
.resources {
  display: none;
}
.zen-resources {
  position: absolute;
  top: 0;
  width: 98%;
  a {
    display: inline;
    color: $darkblue;
    float: right;
    text-align: center;
    padding-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
    }
  li a:hover {
    text-shadow: 0px 0px .5px black;
    }
  ul {
    text-decoration: none;
    list-style: none
    }
}
// nav bar

// intro
section [role="banner"] {
  text-align: center;
  margin-top: 8rem;
  h1 {
    font-size: 400%;
  }
  
}


.preamble {
  display: grid;
  grid-template-columns: .5fr 1.5fr 1.5fr .5fr;
  background-color: $darkblue;
  height: 25rem;
  margin: 0 auto;
  color: $lightgreen;
}
.preamble h3 {
  display: grid;
  grid-column: 2/3
}
.preamble:not(:first-child) {
  display: grid;
  grid-column: 3/4;
}